{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'code_reception/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>


    <!--<header class="site-header">-->
      <!--<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">-->
        <!--<div class="container">-->
          <!--<a class="navbar-brand mr-4" href="{% url 'code_page' %}">Django Blog</a>-->
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">-->
          <!--<span class="navbar-toggler-icon"></span>-->
          <!--</button>-->
          <!--<div class="collapse navbar-collapse" id="navbarToggle">-->
            <!--<div class="navbar-nav mr-auto">-->
              <!--<a class="nav-item nav-link" href="{% url 'code_page' %}">Home</a>-->
              <!--<a class="nav-item nav-link" href="{% url 'code_about' %}">About</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; Navbar Right Side &ndash;&gt;-->
            <!--<div class="navbar-nav">-->
              <!--{% if user.is_authenticated %}-->
                <!--<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>-->
                <!--<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>-->
              <!--{% else %}-->
                <!--<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>-->
                <!--<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>-->
              <!--{% endif %}-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nav>-->
    <!--</header>-->

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>
</body>
</html>