{% extends "code_reception/base.html"%}
{% block content %}
<!--<form method="POST" enctype="multipart/form-data">-->
{% csrf_token %}
<h4><center>{{course.name}}</center></h4>
<script>
    function get_correct_testcase_text(text){
        if(text == 'Success'){
            return "Успех"
        }
        else if(text == 'Fail'){
            return "Ошибка"
        }
        else if(text == 'Not compiled'){
            return "Ошибка компиляции"
        }
        else if(text == 'no run'){
            return "Не протестировано"
        }
        else{
            return text
        }
    }
</script>
<div id="task_tabs" class="container">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            {% for task in tasks %}
            {% if forloop.counter == 1 %}
            <li class="active"><a href="#tab1" data-toggle="tab">Задача #1  </a></li>
            {% else %}
            <li><a href="#tab{{forloop.counter}}" data-toggle="tab">Задача #{{forloop.counter}}  </a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for task in tasks %}
            <div {% if forloop.counter == 1 %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="tab{{forloop.counter}}" data-id='{{task.task_id}}'>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 id="Title" class="panel-title">{{task.test.title}}</h3>
                    </div>
                    <div class="panel-body">
                        {{task.test.text}}
                    </div>
                </div>

                <!--Dropdown-->
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        C++14
                        <span class="caret"></span>
                    </button>
                    <ul   class="dropdown-menu" aria-labelledby="dropdownMenu1" id="toolset">
                        <li><a href="#">C++14</a></li>
                        <li><a href="#">C++98</a></li>
                    </ul>
                    <script>
                        $(".dropdown-menu li a").click(function(){
                            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));});
                    </script>
                    <label id="status">
                        Статус: <font id="status_color" color="{{task.result.status_color}}">
                        {% if task.result.solve_status == 'Success' %}
                        Успех
                        {% elif task.result.solve_status == 'Fail'%}
                        Ошибка
                        {% elif task.result.solve_status == 'Not compiled'%}
                        Ошибка компиляции
                        {% elif task.result.solve_status == 'no run'%}
                        Не протестировано
                        {% else %}
                        {{task.result.solve_status}}
                        {% endif %}
                    </font>
                    </label>
                </div>



                <div class="form-group">
                    <label for="txtarea">Код программы </label>
                    <textarea name='code' class="form-control" id="txtarea" rows="13">{{task.result.submitted_code}}</textarea>
                </div>
                <script>
                    function sendTask(){
                        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
                        var code_src = $('.tab-pane.active').find('textarea').val();
                        var toolset = $('#dropdownMenu1').text().trim();

                        var task_num = $('.active')[1].getAttribute('data-id')


                        input_dict = {
                            code: code_src,
                            lang: toolset,
                            task_id: task_num,
                            csrfmiddlewaretoken: CSRFtoken
                        }

                        var cb = function(data){
                            console.log(data['result']);
                            var res = data['result'];
                            $('#status_color').text(get_correct_testcase_text(res['status']));
                            $('#status_color').attr('color', res['color']);
                            $('#Compile_error').text(res['compile_result']);
                            testcases = res['testcase_status'];
                            console.log(res)
                            if (testcases.length == 0)
                            {
                                console.log("len = 0");
                                try{
                                    for(var i = 0; i < 30; i++)
                                    {
                                        console.log("for")
                                        var next_idx =  String(i + 1);
                                        $('#testcase' + next_idx)[0].style.visibility = "hidden";
                                    }
                                }
                                catch(err){
                                    console.log("catch");
                                    console.log(err);
                                }
                            }
                            for(var i = 0; i < testcases.length; i++){
                                var idx = String(i)//i.toString(10);
                                var next_idx =  String(i + 1);
                                console.log(idx);
                                status = testcases[i]['status'];
                                class_color = "list-group-item list-group-item-danger"
                                if(status == "Success"){
                                    class_color = "list-group-item list-group-item-success"
                                }
                                else if (status == "Not compiled"){
                                    class_color = "list-group-item list-group-item-warning"
                                }
                                var txt = "Тест #" + next_idx + " " + get_correct_testcase_text(status);
                                console.log(txt);

                                $('#testcase' + next_idx).text(txt);
                                $('#testcase' + next_idx).attr('class', class_color)
                                console.log(status);
                                if (status == "Not compiled")
                                {
                                    console.log("if worked");
                                }

                            }
                        console.log('the great console debug begins');
                        var tab_id = parseInt($('.active')[1].id.replace('tab', '')) - 1;
                        console.log('tab_id: ', tab_id)
                        console.log('href before: ', window.location.href)
                        var correct_href = window.location.href.replace( /[\?#].*|$/, `?${tab_id}` );
                        console.log('correct href: ', correct_href);
                        window.location.href = correct_href;
                        $('#Compile_error').text(res['compile_result']);
                        }
                        // callback end



                        var current_path = window.location.pathname.split('/');
                        let [code_url, course_id, student_id] = current_path.slice(Math.max(current_path.length - 3, 1))
                        console.log(code_url);
                        console.log(course_id);
                        console.log(student_id);
                        if (student_id !== undefined){
                            input_dict['student_id'] = student_id
                        }
                        console.log(input_dict)
                        var testing_request = $.post("/test/", input_dict, cb);

                    }
                </script>
                <button id="submit_btn"  class="btn btn-success" onclick="sendTask()">Протестировать</button>

                <ul class="list-group" id="results">
                    {% for result in task.result.tests_success %}
                    {% if result == 'True' %}
                    <li id="testcase{{forloop.counter}}" class="list-group-item list-group-item-success">Тест #{{forloop.counter}} Успех</li>
                    {% else %}
                    <li id="testcase{{forloop.counter}}" class="list-group-item list-group-item-danger">Тест #{{forloop.counter}} Ошибка</li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <label id="Compile_error">
                    {{task.result.compile_result}}
                </label>
            </div>
            {% endfor %}
        </div> <!--tab content end-->
    </div>
</div>
<script>
    console.log('abc12');
    console.log(window.location.search.substr(1));
    var correct_tab = window.location.search.substr(1);
    if (correct_tab !== ""){
        $(`.nav-tabs li:eq(${correct_tab}) a`).tab('show')
    }
</script>
{% endblock content %}

